
body
	{
		background-image: url('tt.jpg');
		background-attachment: fixed;
		background-size: 100% 100%;
		background-repeat: no-repeat;

	}
	
#center
{
	width: 300px;
	margin:auto;
	padding:50px;
	border-style: solid;
}
P
{
	font-size: 15px;
	width: 700px;
	text-align: justify;
	text-indent: 50px;
}
li
{
	font-size: 15px;
	text-align:left;
	
}

img

{
		width:80px;
		height: 80px;
		border-radius: 50%;
		border: 3px solid black;
}

div img
{
		width: 500px;
		height:400px;
		margin-left: 130px;
		margin-right:130px;
		
}